body{
	padding: 0;
	margin: 0;
	background-color: #171717;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Bombardier';
}

.columns{
	background: #2b2b2b;
	padding:10px;
}

.row{
	margin-top:20px; 
}

tr td{
	font-size: 12px;
}

.resource{
	width: 50%;
	float: left;
	overflow: hidden;
}

.resource .label{
	text-align: center;
}

.right{
	float: right;
	overflow: hidden;
}

.btn{
	display: inline-block;
	border:1px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}

.btn:hover{
	color: #181818;
	background: #ffffff;
}

.btn.small{
	padding: 2px 4px;
}

.btn.big{
	padding: 14px 28px;
	margin: 10px 0;
}