<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bwmg/css/login.css">
</head>
<body>
	<div class="container">
		<div class="login-container">
		<h2>BANDWIDTH MANAGEMENT</h2>			
		<div id="output"></div>
		<div class="avatar"></div>
		<div class="form-box">
		    <form action="/bwmg/login" method="POST">
		        <input name="username" type="text" placeholder="username">
		        <input name="password" type="password" placeholder="password">
		        <button class="btn btn-info btn-block login" type="submit">Login</button>
		    </form>
		</div>
		</div>  
	</div>
</body>
</html>